<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.smartsettings.permissionhelper">

    <application>

        <activity
                android:name=".PermissionActivity"
                android:theme="@style/Theme.Transparent"/>

    </application>

</manifest>
